body {
  background-color: #f2f2f2;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.title {
  display: inline-block;
}

.jumbotron {
  position: relative;
}

.jumbotron pre {
  padding: 10px;
  background-color: #4d4c4c;
  border-radius: 10px;
  font-family: "Courier New" !important;
  color: yellow;
}

.lab {
  -webkit-animation: all linear 3s;
          animation: all linear 3s;
  position: relative;
  display: inline-block;
  margin: 0px auto 0;
  margin-left: 10px;
  width: 42px;
  height: 50px;
}

.lab img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.lab i {
  z-index: 2;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 16px;
  opacity: 0;
  -webkit-animation: bubble1 linear 4s infinite;
          animation: bubble1 linear 4s infinite;
}

.lab i:nth-child(1) {
  -webkit-animation-name: bubble1;
          animation-name: bubble1;
}

.lab i:nth-child(2) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  -webkit-animation-name: bubble2;
          animation-name: bubble2;
}

.lab i:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: bubble1;
          animation-name: bubble1;
}

.lab i:nth-child(4) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
  -webkit-animation-name: bubble2;
          animation-name: bubble2;
}

@-webkit-keyframes bubble1 {
  0% {
    bottom: 1px;
    left: 21px;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1;
    background: #fff;
  }

  10% {
    bottom: 5px;
    left: 17px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  20% {
    bottom: 10px;
    left: 21px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  30% {
    bottom: 15px;
    left: 15px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 1;
    background: #fff;
  }

  40% {
    bottom: 19px;
    left: 21px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  49% {
    bottom: 19px;
    left: 17px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  50% {
    bottom: 19px;
    left: 17px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
    background: #ff8ab8;
  }

  60% {
    bottom: 55px;
    left: 21x;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }

  70% {
    bottom: 60px;
    left: 16px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  80% {
    bottom: 65px;
    left: 21px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  90% {
    bottom: 70px;
    left: 17px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  99% {
    bottom: 73px;
    left: 21px;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }

  100% {
    bottom: 73px;
    left: 21px;
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
    background: #ff8ab8;
  }
}

@keyframes bubble1 {
  0% {
    bottom: 1px;
    left: 21px;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1;
    background: #fff;
  }

  10% {
    bottom: 5px;
    left: 17px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  20% {
    bottom: 10px;
    left: 21px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  30% {
    bottom: 15px;
    left: 15px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 1;
    background: #fff;
  }

  40% {
    bottom: 19px;
    left: 21px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  49% {
    bottom: 19px;
    left: 17px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  50% {
    bottom: 19px;
    left: 17px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
    background: #ff8ab8;
  }

  60% {
    bottom: 55px;
    left: 21x;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }

  70% {
    bottom: 60px;
    left: 16px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  80% {
    bottom: 65px;
    left: 21px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  90% {
    bottom: 70px;
    left: 17px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  99% {
    bottom: 73px;
    left: 21px;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }

  100% {
    bottom: 73px;
    left: 21px;
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
    background: #ff8ab8;
  }
}

@-webkit-keyframes bubble2 {
  0% {
    bottom: 1px;
    left: 13px;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1;
    background: #fff;
  }

  10% {
    bottom: 5px;
    left: 18px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  20% {
    bottom: 10px;
    left: 13px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  30% {
    bottom: 15px;
    left: 18px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 1;
    background: #fff;
  }

  40% {
    bottom: 19px;
    left: 13px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  49% {
    bottom: 19px;
    left: 18px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  50% {
    bottom: 19px;
    left: 18px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
    background: #61d3ff;
  }

  60% {
    bottom: 55px;
    left: 13px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }

  70% {
    bottom: 60px;
    left: 18px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  80% {
    bottom: 65px;
    left: 13px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  90% {
    bottom: 70px;
    left: 18px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  99% {
    bottom: 73px;
    left: 13px;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }

  100% {
    bottom: 73px;
    left: 13px;
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
    background: #61d3ff;
  }
}

@keyframes bubble2 {
  0% {
    bottom: 1px;
    left: 13px;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1;
    background: #fff;
  }

  10% {
    bottom: 5px;
    left: 18px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  20% {
    bottom: 10px;
    left: 13px;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
    background: #fff;
  }

  30% {
    bottom: 15px;
    left: 18px;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 1;
    background: #fff;
  }

  40% {
    bottom: 19px;
    left: 13px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  49% {
    bottom: 19px;
    left: 18px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 1;
    background: #fff;
  }

  50% {
    bottom: 19px;
    left: 18px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
    background: #61d3ff;
  }

  60% {
    bottom: 55px;
    left: 13px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }

  70% {
    bottom: 60px;
    left: 18px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }

  80% {
    bottom: 65px;
    left: 13px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  90% {
    bottom: 70px;
    left: 18px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  99% {
    bottom: 73px;
    left: 13px;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .5;
  }

  100% {
    bottom: 73px;
    left: 13px;
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
    background: #61d3ff;
  }
}

.lab.green i {
  -webkit-animation: bubble1 linear 0.7s infinite;
          animation: bubble1 linear 0.7s infinite;
}

